@font-face {
  font-family: "Poppins";
  src: url("../src/Fonts/Poppins-Regular.ttf") format("woff2"),
    url("../src/Fonts/Poppins-Regular.ttf") format("woff"),
    url("../src/Fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
